// fonts
$font-family-sans:	"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
$font-family-serif: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
$font-family-mono:	Consolas, "Lucida Console", "Courier New", Courier, monospace;

// color
$clr: #444;
$clr-rev: #eee;

// color (links)
$clr-a: #607890;
$clr-a-hover: #003366;

$clr-rev-a: #f7f7f7;
$clr-rev-a-hover: #fff;
$clr-rev-a-active: #aaa;

// define the universal space from the edges
$pad: 30px;
$pad-top: 20px;
$pad-bottom: 15px;

$header-height: 50px;
$footer-height: 25px;