article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }

html {
	font-size: 100%;
	height: 100% !important;
	width: 100% !important;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: $font-family-sans;
	font-size: 16px;
	line-height: 1.625;
	*font-size: 1em;
	color: $clr;
	height: 100% !important;
	width: 100% !important;
	background: #2a2a2a image-url("background.png");	
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

// link-colors($normal, $hover, $active, $visited, $focus) 
a {	@include link-colors(#00e, #111, #00e, #551a8b, #00e); cursor: pointer !important; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
a:active, a:focus{ // Give clicked links a depressed effect.
	position: relative;
	top: 1px;
}

abbr[title]		{ border-bottom: 1px dotted; }
b, strong		{ font-weight: bold; }
small			{ font-size: 75%; }
blockquote		{ margin: 1em 40px; }
dfn				{ font-style: italic; }
mark			{ background: #ff0; color: #000; }

pre, code, kbd, samp {
	font-family: monospace, monospace;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none;
	&:before, &:after {
		content: '';
		content: none;
	}
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub { bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd { margin: 0 0 0 40px; }

nav { ul, ol { list-style: none; } }
figure, form { margin: 0; }

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend { *margin-left: -7px; }

button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

button, input {
  line-height: normal;
  *overflow: visible;
}

button {
  cursor: pointer;
  -webkit-appearance: button;
}

input {
	&[type="button"], &[type="reset"], &[type="submit"] {
		cursor: pointer;
		-webkit-appearance: button;
	}
	
	&[type="checkbox"], &[type="radio"] { box-sizing: border-box; }
	
	&[type="search"] {
		-webkit-appearance: textfield;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
		
		&::-webkit-search-decoration { -webkit-appearance: none; }
	}
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}